<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TurCareASOOPS.My.MySettings.g_oops_t4ConnectionString"
            connectionString="server=mysql.stud.iie.ntnu.no;user id=g_oops_t4;password=passord123;persistsecurityinfo=True;database=g_oops_t4;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="TurCareASOOPS.My.MySettings.g_oops_t4ConnectionString1"
            connectionString="server=mysql.stud.iie.ntnu.no;user id=g_oops_t4;persistsecurityinfo=True;database=g_oops_t4;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="TurCareASOOPS.My.MySettings.tilkoblingDataSet" connectionString="server=mysql.stud.iie.ntnu.no;user id=g_oops_t4;password=passord123;persistsecurityinfo=True;database=g_oops_t4;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
